<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit job</title>
</head>
<body>
    <h2>Edit expenses here.</h2>
    <ul class="nav nav-pills">

        <li class="nav-item">
        
        <a class="nav-link" href="/logout">Logout</a>
        
        </li>
        
        <li class="nav-item">
        
        <a class="nav-link" href="/addexpense">Add Job</a>
        
        </li>
        
        <li class="nav-item">
        
        <a class="nav-link" href="/summary">Summary</a>
        
        </li>
        
        </ul>
        
        </hr>


</body>
</html>